.container {
  width: 100%;
  height: calc(100vh - 104px);
  display: flex;
  position: relative;
  overflow: hidden;

  .arrow {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.2;
    z-index: 2;

    &:hover {
      opacity: 0.4;
    }
  }

  .left {
    left: 10px;
  }

  .right {
    right: 10px;
  }

  .wrapper {
    height: 100%;
    display: flex;
    transition: all 0.6s ease;
    transform: translateX(0vw);
  }
}
