.container {
  min-height: 56px;
  padding: 20px 0 10px 0;
  width: 100%;

  .wrapper {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1376px;

    .left {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;

      .language {
        font-size: 14px;
        cursor: pointer;
      }

      .searchContainer {
        border: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        margin-left: 25px;
        padding: 5px;

        .input {
          border: none;
        }
      }
    }

    .right {
      right: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .item {
        margin-left: 25px;
      }

      .last {
        margin-right: 12px;
      }
    }

    .center {
      text-align: center;
      margin: auto;

      .logo {
        font-family: 'Press Start 2P', cursive;
        font-size: 36px;
      }
    }
  }

  .catsContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    margin: auto;

    .category {
      display: flex;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      color: black;
      opacity: 1;
      height: 100%;
      cursor: pointer;
      transition: all 0.2s ease;

      .link {
        padding: 8px 16px 6px;
        font-size: 0.857143rem;
        letter-spacing: 0.0857143rem;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

.catsContainer:hover {
  opacity: 1;

  .category:not(:hover) {
    opacity: 0.5;
  }
}

.item {
  font-size: 14px;
  cursor: pointer;
}
